<!-- <ngx-spinner></ngx-spinner> -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3>
          <i class="ft ft-calendar mr-1"></i>
          กิจกรรมประจำวัน
        </h3>
      </div>
      <div class="card-content p-0">

        <form class="form">
          <div class="form-body">
            <div class="col-sm-12">
              <div class="row">
                <label class="searchdate text-right">วันที่</label>
                <form #SearchForm="ngForm" class="form-inline mr-2">
                  <div class="form-group">
                    <div class="input-group">
                      <input ngbDatepicker id="dt" name="dt"
                        class="form-control round text-center"
                        [(ngModel)]="SearchDate" #dt="ngbDatepicker"
                        (ngModelChange)="OnChangeDatePicker($event)"/>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-success round"
                          (click)="dt.toggle();" type="button">
                          <i class="icon icon-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                &nbsp;
                <button type="button"
                  (click)="GetDbNotifiedByDate()"
                  class="btn btn-raised btn-info round mr-2">
                  <i class="icon icon-magnifier mr-1"></i>ค้นหา
                </button>
                <span *ngIf="!CheckIsHoliday">
                  <button type="button"
                    class="btn btn-raised btn-primary round"
                    (click)="NewActivitie(ActivitieForm)">
                    <i class="ft ft-slack mr-1"></i>
                    เพิ่มกิจกรรมใหม่
                  </button>
                </span>
                <span *ngIf="CheckIsHoliday" style="font-weight: bold; color: red;">
                  ระบบงดการบันทึกกิจกรรมใดๆ ในช่วงวันหยุดและนอกเวลาราชการ..!!
                </span>
              </div>
            </div>
          </div>
        </form>

        <div class="col-md-12 p-1">
          <table class="table table-bordered table-striped table-sm mb-0">
            <thead>
              <tr>
                <th>กิจกรรม</th>
                <th>รายละเอียด</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let D of DbListDaily|
                slice:(ActvPages-1)*RowPerPage:(ActvPages-1)*RowPerPage+RowPerPage">
                <td class="text-center">
                  <span *ngIf="D.SevType == 'A'">
                    <img
                      src="assets/img/ActActivity.png"
                      style="height: 60px;"
                      title="{{ D.SevTypeTXT }}"
                      alt="{{ D.SevTypeTXT }}"
                    />
                  </span>
                  <span *ngIf="D.SevType == 'S'">
                    <img
                      src="assets/img/ActService.jpg"
                      style="height: 60px;"
                      title="{{ D.SevTypeTXT }}"
                      alt="{{ D.SevTypeTXT }}"
                    />
                  </span>
                </td>
                <td class="text-left">
                  <!-- <span class="TxtCap">วันที่:</span> -->
                  <!-- <span class="TxtValue">{{D.SevCode | Custom:"fDateTime2"}}</span> -->
                  <!-- <span class="TxtValue">{{D.SevDateSave | Custom: "fDate"}}</span> -->
                  <span class="TxtCap">ช่วงเวลา:</span>
                  <span class="TxtValue">{{ D.SevTimeAtDept }}-{{ D.SevTimeDoFinish }}</span>
                  <span class="TxtCap">เวลารวม:</span>
                  <span class="TxtValue">{{ D.SevTimeTotal }}</span>
                  <span class="TxtCap">นาที</span>
                  <!-- <span class="TxtCap">กิจกรรม:</span><span class="TxtValue">{{D.SevTypeTXT}}</span> -->
                  <span class="TxtCap">หน่วยงานประสาน:</span>
                  <span class="TxtValue">{{ D.SevReqDeptName }}</span>
                  <span class="TxtCap">ผู้ประสาน:</span>
                  <span class="TxtValue">{{ D.SevReqUser }}</span>
                  <span class="TxtCap">โทรกลับ:</span>
                  <span class="TxtValue">{{ D.SevReqCallBack }}</span>
                  <span class="TxtCap">ผู้บันทึก:</span>
                  <span class="TxtValue">{{ D.UserMendName }}</span>
                  <br/>
                  <span class="TxtCap">รายละเอียดกิจกรรม:</span>
                  <span class="TxtValue text-danger">{{ D.SevReqMend }}</span>
                  <br/>
                  <span class="TxtCap">กิจกรรมบริการ:</span>
                  <span class="TxtValue">{{ D.ActGrpName }}</span>
                  <span class="TxtValue">, {{ D.ActHName }}</span>
                  <span class="TxtValue">, {{ D.ActDName }}</span>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-raised btn-info" title="ดูข้อมูลกิจกรรม"
                    (click)="ShowActivitieInfo(ActivitieInfo, D)">
                    <i class="icon icon-screen-tablet"></i>
                  </button>
                  <span *ngIf="D.SevType == 'A'">
                    &nbsp;
                    <button type="button" class="btn btn-raised btn-primary"
                      title="แก้ไขข้อมูลกิจกรรม" (click)="SetActivitieUpdate2(D, ActivitieForm)">
                      <i class="icon icon-note"></i>
                    </button>
                  </span>
                  <span *ngIf="D.SevType == 'S'">
                    &nbsp;
                    <button type="button" class="btn btn-raised btn-warning"
                      title="แก้ไขข้อมูลปัญหาประจำวัน" (click)="SetServiceUpdate2(D, ServiceForm)">
                      <i class="ft ft-hash"></i>
                    </button>
                  </span> &nbsp;
                  <button type="button" class="btn btn-raised btn-danger"
                    title="ลบข้อมูลกิจกรรม" (click)="DeleteActivitie(D)">
                    <i class="icon icon-trash"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="DbListDaily.length == 0">
                  <td colspan="3" class="text-center text-danger font-medium-2">
                      ไม่พบรายการกิจกรรมในวันที่ระบุ..!!
                  </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <div class="row p-0 m-0">
                    <div class="col-sm-6 text-left">
                        <span class="TxtCap">จำนวนทั้งหมด </span>
                        <span class="TxtValue">{{DbListDaily.length}}</span>
                        <span class="TxtCap">รายการ</span>
                    </div>
                    <div class="col-sm-6">
                      <ngb-pagination
                        [(page)]="ActvPages"
                        [pageSize]="RowPerPage"
                        class="d-flex justify-content-end"
                        [collectionSize]="DbListDaily.length">
                      </ngb-pagination>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #ActivitieForm let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary p-2">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="icon icon-book-open mr-1"></i>
      ฟอร์มบันทึกกิจกรรมประจำวัน
    </h5>
    <button type="button" class="close"
      aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-2">
    <form [formGroup]="ActivitieFrm" (ngSubmit)="SaveActivitie()">
      <div class="row m-1">
        <div class="col-md-4 p-0">
          <div class="input-group p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">เลขรายการ</div>
            </div>
            <input type="text" readonly formControlName="ActCode"
              class="form-control text-center bg-lite mr-1">
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">ผู้บันทึก</div>
            </div>
            <input type="text" readonly formControlName="ActUserName"
              class="form-control text-center bg-white mr-1">
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">วันที่บันทึก</div>
            </div>
            <input type="date" formControlName="ActDate"
              class="form-control text-center bg-white mr-1">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer p-2">
    <button type="button"
      *ngIf="!CheckIsHolidayOnForm"
      (click)="SaveActivitie()"
      class="btn btn-raised btn-primary round">
      <i class="icon icon-check mr-1"></i>
      <span *ngIf="ActivitieFrm.getRawValue().ActState == 'N'">บันทึกกิจกรรม</span>
      <span *ngIf="ActivitieFrm.getRawValue().ActState != 'N'">ปรับปรุงกิจกรรม</span>
    </button>
    <button type="button" (click)="c('Cancel-click')"
      class="btn btn-raised btn-danger btn-outline-dark round">
      <i class="icon icon-close mr-1"></i>ยกเลิก
    </button>
  </div>
</ng-template>
