<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header pt-2">
        <h4>
          <i class="ft ft-cloud-lightning mr-1"></i>
          บันทึกการแก้ปัญหาประจำวัน
        </h4>
      </div>
      <div class="card-content p-0">

        <form #SearchForm="ngForm">
          <div class="row">
            <div class="col-md-3 pr-0">
              <div class="form-group">
                <div class="input-group ml-1">
                  <input ngbDatepicker id="dt" name="dt"
                    class="form-control round text-center"
                    [(ngModel)]="SearchDate" #dt="ngbDatepicker"
                    (ngModelChange)="OnChangeDatePicker($event)"/>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-success round"
                      (click)="dt.toggle();" type="button">
                      <i class="icon icon-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 pr-0">
              <button type="button"
                (click)="GetDailyByDate()"
                class="btn btn-raised btn-info round mr-2">
                <i class="icon icon-magnifier mr-1"></i>
              </button>
              <span *ngIf="!CheckIsHoliday">
                <button type="button"
                  class="btn btn-raised btn-primary round"
                  (click)="NewService(ActivitieForm)">
                  <i class="ft ft-slack mr-1"></i>เพิ่ม
                </button>
              </span>
            </div>
            <div class="col-md-7 p-0 p-1">
              <span *ngIf="CheckIsHoliday"
                style="font-weight:bold; color: red;">
                งดการบันทึกกิจกรรมใดๆ ในช่วงวันหยุดและนอกเวลาราชการ..!!
              </span>
              <div *ngIf="!CheckIsHoliday"
                class="row p-0 m-0">
                <div class="col-sm-7 pb-0 text-left">
                  <span class="TxtCap">รวม </span>
                  <span class="TxtValue">{{DbServDaily.length}}</span>
                  <span class="TxtCap">รายการ /</span>
                  <span *ngIf="WorkTotal<this.WorkPerDay" class="m-1 bg-danger">
                    <span class="mr-2" style="color: blue;">เวลารวม</span>
                    <span class="mr-2" style="color: blue; font-weight: bold;">{{WorkTotal}}</span>
                    <span class="mr-2" style="color: blue;">นาที </span>
                  </span>
                  <span *ngIf="WorkTotal>=this.WorkPerDay">
                    <span class="TxtCap">เวลารวม</span>
                    <span class="TxtValue">{{WorkTotal}}</span>
                    <span class="TxtCap">นาที </span>
                  </span>
                </div>
                <div class="col-sm-5 pb-0">
                  <ngb-pagination
                    [(page)]="ServPages" [pageSize]="RowPerPage"
                    class="d-flex justify-content-end pb-0 mb-0"
                    [collectionSize]="DbServDaily.length">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="col-md-12 p-1">
          <table class="table table-bordered table-striped table-sm mb-0">
            <thead>
              <th class="text-center">กิจกรรมประจำวัน</th>
              <th class="text-center" style="width:16%;">ประเภทกิจกรรม</th>
              <th class="text-center" style="width:10%;">ช่วงเวลา</th>
              <th class="text-center" style="width:7%;">เวลารวม</th>
              <th class="text-center" style="width:8%;">จัดการ</th>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let D of DbServDaily|
                slice:(ServPages-1)*RowPerPage:(ServPages-1)*RowPerPage+RowPerPage">
                <td class="text-left">
                  <span class="TxtValue">{{D.ActJobs}}</span>
                </td>
                <td class="text-left">{{D.ActTopic}}</td>
                <td class="text-center">{{D.ActBegin}}-{{D.ActEnd}}</td>
                <td class="text-center">{{D.ActTotal}}</td>
                <td class="text-center">
                  <button type="button" title="แก้ไขรายการปัญหา"
                    class="btn btn-raised btn-primary btn-sm mb-0 mr-1"
                    (click)="EditService(D,ServiceForm)">
                    <i class="icon icon-note"></i>
                  </button>
                  <button type="button" title="ลบรายการปัญหา"
                    class="btn btn-raised btn-danger btn-sm mb-0"
                    (click)="DeleteService(D)">
                    <i class="icon icon-trash"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="DbServDaily.length == 0">
                <td colspan="5" class="text-center text-danger font-medium-2">
                  ไม่พบรายการกิจกรรมในวันที่ระบุ..!!
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #ServiceForm let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary p-2">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="icon icon-book-open mr-1"></i>
      ฟอร์มบันทึกการแก้ปัญหาประจำวัน
    </h5>
  </div>
  <div class="modal-body p-2">

    <!-- <form [formGroup]="ActivitieFrm" (ngSubmit)="SaveActivitie()">
      <div class="row mb-0 pl-1 pr-0 pt-0 pb-0">
        <div class="col-md-4 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">เลขรายการ</div>
            </div>
            <input type="text" readonly formControlName="ActCode"
              class="form-control text-center bg-lite mr-1">
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">ผู้บันทึก</div>
            </div>
            <input type="text" readonly formControlName="ActUserName"
              class="form-control text-center bg-white mr-1">
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">วันที่บันทึก</div>
            </div>
            <input type="date" formControlName="ActDate"
              class="form-control text-center bg-white mr-1">
          </div>
        </div>
      </div>
      <div class="row mb-0 pl-1 pr-0 pt-1 pb-0">
        <div class="col-md-4 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">กิจกรรม</div>
            </div>
            <select class="form-control" formControlName="ActTopic"
              (change)="OnActTopicChange();">
              <option *ngFor="let M of DbOptMainTop" value="{{M.text}}">
                {{M.text}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-8 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">หมายเหตุ</div>
            </div>

            <select class="form-control mr-1" formControlName="ActJobs"
              *ngIf="ActivitieFrm.getRawValue().ActTopic=='กิจกรรมตามตำแหน่งงาน'
                   &&ActivitieFrm.getRawValue().ActJobs==''">
              <option *ngFor="let T of DbOptActTopic" value="{{T.ActName}}">
                {{T.ActName}}
              </option>
            </select>

            <input *ngIf="ActivitieFrm.getRawValue().ActTopic!=''&&
                          ActivitieFrm.getRawValue().ActJobs!=''"
              type="text" formControlName="ActJobs"
              class="form-control text-center bg-white mr-1">

          </div>
        </div>
      </div>
      <div class="row mb-0 pl-1 pr-0 pt-0 pb-0">
        <div class="col-md-4 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">เริ่มเวลา</div>
            </div>
            <input type="time" formControlName="ActBegin"
              (change)="CalTimeServ()" class="form-control text-center bg-white mr-1">
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">เสร็จสิ้นเวลา</div>
            </div>
            <input type="time" formControlName="ActEnd"
              (change)="CalTimeServ()" class="form-control text-center bg-white mr-1">
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group mb-0 p-1">
            <div class="input-group-prepend">
              <div class="input-group-text p-1">รวมเวลา(นาที)</div>
            </div>
            <input type="number" formControlName="ActTotal" readonly
              class="form-control text-center bg-lith mr-1">
          </div>
        </div>
      </div>
    </form> -->

  </div>
  <div class="modal-footer p-2">
    <!--
    <button *ngIf="!CheckIsHolidayOnForm" type="button"
      (click)="SaveActivitie()" class="btn btn-raised btn-primary round">
      <i class="icon icon-check mr-1"></i>
      <span *ngIf="ActivitieFrm.getRawValue().ActState == 'N'">บันทึก</span>
      <span *ngIf="ActivitieFrm.getRawValue().ActState != 'N'">ปรับปรุง</span>
    </button>
    <button type="button" (click)="c('Cancel-click')"
      class="btn btn-raised btn-danger btn-outline-dark round">
      <i class="icon icon-close mr-1"></i>ยกเลิก
    </button>
    -->
  </div>
</ng-template>