.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.searchdate {
  font-size: 1.0em;
  vertical-align: middle;
  padding:7px 10px 0px 10px;
}

.TxtTitle{
  font-size: 1.1em;
  color:darkblue;
}

.TxtCapHead{
  font-size: 0.9em;
  color: darkslategray;
  // padding-left: 1.0em;
}

.TxtCap{
  font-size: 0.9em;
  color: rgb(84, 145, 145);
  padding-left: 0.6em;
}

.TxtValue{
  font-size: 1.1em;
  color: rgb(41, 35, 92);
  padding-left: 0.3em;
}

.TxtMyWay{
  font-size: 1.1em;
  color: rgb(243, 125, 16);
  padding-left: 0.3em;
}

.tab-content .tab-pane{
  padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}

